/* Header */
header {
    position: sticky; /*no le afecta el scroll*/
    top: 0; 
    left: 0; 
    width: 100%; /*ocupa todo el ancho posible*/
    background-color:#237930; /*color de fondo*/
    display: flex; /*organiza los elementos horizontalmente*/
    justify-content: space-between; /*separa el contenido a hacia los extremos*/
    align-items: center; /*alinea verticalmente al centro*/ 
    z-index: 10; 
}

/*Titulo y logo del juego*/
header .center {
    text-align: center; /*centra el texto horizontalmente*/
    display: flex; /*organiza al titulo y la imagen de forma horizontal*/
    align-items: center; /*centra de forma vertical*/
    justify-content: center; /*centra de forma horizontal*/
    flex: 1; /*Hace que este elemento ocupe todo el espacio disponible dentro de su contenedor*/
}
/*display: define como se comporta un elemento en la página*/

/*título del juego*/
header .titulo {
    font-size: 4rem; /*Tamaño de fuente, ajusta este valor según lo necesites*/
    color: #ffffff; 
    margin-right: 10px;
    display: inline-block; /*se alinea horizontalmente*/
    white-space: nowrap; /* Evita que se quiebre la palabra en varias lineas*/

}

/*boton de salir en admin*/
header .salir{
    background-color: #fcd24f;
    color: black;
    font-family: 'occams_eraser', sans-serif;
    font-size: 1.5vw; 
    max-width: 7em; 
    padding: .5em 1em;
    border-radius: .5em;
    display: inline-flex; 
    margin-right: .5em;
    white-space: nowrap;
    margin-left: -9vw;
}

/* Menu */
#menu {
    background-color: #fcd24f;
    color: #251847;
    padding: .5em 1.5em; /*separa texto del borde del fondo*/
    border-radius: .5em; /*redondeo*/
    display: inline-flex; 
    white-space: nowrap;
    min-width: 3vw; 
    min-height: 1.5vw;
    font-size: 1.5vw;
    margin-right: 1em;
    align-items: center; /*Alinea verticalmente el contenido al centro del contenedor.*/
    justify-content: center; /*Alinea horizontalmente el contenido al centro del contenedor.*/
    margin-left: -9vw;
}

#menu .submenu {
    position: relative; /*los elementos hijos se posicionan en relación al contenedor y no a la pantalla*/
}

#menu .desplegable {
    text-align: center;
    max-height: 0;
    overflow: hidden;
    opacity: 0; /*oculta el contenido*/ 
    position: absolute; 
    background-color: #fffcf2;
    padding: 1em;
    top: 100%; /*lo coloca justo debajo del menu*/
    right: -4vw;
    margin-right: 1vw;
    flex-direction: column;
    gap: 1em;
    transition: max-height 0.2s ease, opacity 0.2s ease;
    list-style: none;
}

.desplegable li{
    border-bottom: 1px solid #000;
    padding: .5em;
}

.desplegable li:last-child{
    border-bottom: none;
}

/*activa el menu desplegable al pasar el mouse*/
#menu .submenu:hover .desplegable {
    max-height: 500px;
    opacity: 1; /*el conttenido se vuelve visible*/
}

#menu a {
    text-decoration: none;
}

header img {
    width: 10vw;
    max-width: 100px;
}

header img.udc {
    width: 13vw;
    max-width: 130px;
}

.perfil{
    border-radius: 50%;
    margin-left: -3.3vw;
    max-width: 100px;
    margin-right: .5vw;
}