

main {
    background-color: #16a93b;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    min-height: 0;
    height: auto;
    min-height: 265vh;
    padding-bottom: 2em;
    text-align: center;
    font-size: 24px;
}
