main {
    background-color: #16a93b;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: auto;
    min-height: 265vh;
    text-align: center;
    font-size: 1.25vw;
}

main img {
    min-height: 70%;
}